services:
  backend:
    image: go-shop-restful
    build:
      context: .
      dockerfile: Dockerfile
    container_name: shop-api
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  frontend:
    image: go-shop-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: shop-frontend
    ports:
      - "8000:80"
    depends_on:
      app:
        condition: service_healthy
    restart: unless-stopped

  db:
    image: postgres:alpine
    container_name: shop-db
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

volumes:
  pgdata:
